<?xml version="1.0" encoding="utf-8"?>

<!-- The AndroidManifest file defines some important properties for the app. It is mandatory
        to generate one. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aerodynamics.airfoil_calculation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Inside the application field all the activities, which are the "pages" displayed in
             the app, must be declared. Every activity might have its own attributes and characteristics -->

        <activity
            android:name=".ClAlpha"
            android:label="@string/title_activity_cl_alpha" />
        <activity android:name=".BuildGeometry" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">

            <!-- The MainActivity is the principal activity of the app. In this case it's where
                 the user lands once he clicks on the app icon. This attributes are set thanks to
                 the intent-filter tags below. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>